name: Release Application

on:
  workflow_dispatch:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
    - name: Install
      run: npm ci
    - name: Package
      run: npm run package-windows
    - uses: thedoctor0/zip-release@0.7.1
      name: Archive Release
      with:
        type: 'zip'
        filename: 'release-win32-x64.zip'
        directory: 'out/afs-win32-x64'
    - uses: ncipollo/release-action@v1.12.0
      name: Publish release
      with:
        artifacts: 'out/afs-win32-x64/release-win32-x64.zip'
